.mb {
    margin-bottom: 1rem;
}

.inputError {
    margin-top: 1rem;
    color: #ff0000;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.divForm {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    width: 75dvw;
    background-color: #ffa0af;
    border-radius: 30px;
    padding: 3rem;
    color: #ffffff;
    text-align: justify;
}

.h1 {
    text-align: center;
    align-self: center;
    color: #ffffff;
}

.form {
    display: flex;
    width: 100%;
    color: white;
    flex-wrap: wrap;
}

.inputSize {
    width: 30%;
}

.fieldset {
    border: 2px solid #ffffff;
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.marginInput {
    margin-right: 5%;
    margin-left: 5%;
}

.legend {
    font-weight: bold;
    font-size: 15px;
}

.radioDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
}

.mf {
    margin-left: 0.5rem;
}

.input {
    background-color: #ffa0af;
    border-radius: 5px;
    border: 1px solid white;
    padding: 3px;
}

.inputFileSpan {
    margin-left: 0.5rem;
    overflow-wrap: anywhere;
}

.inputFileDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.p {
    flex-basis: 100%;
}

@media (max-width: 550px) {
    .main {
        font-size: 15px;
    }

    .divForm {
        width: 90dvw;
        padding: 3rem 2rem;
    }

    .inputSize {
        width: 100%;
    }

    .marginInput {
        margin-right: 0%;
        margin-left: 0%;
    }

    .legend {
        font-weight: 500;
        font-size: 14px;
    }

    .radioDivSM {
        flex-wrap: wrap;
        justify-content: start;
    }

    .radioDivItem {
        width: 50%;
    }

    .button {
        font-size: 15px;
        font-weight: 500;
        text-align: center;
    }
}

@media (max-width: 768px) and (min-width: 551px) {
    .divForm {
        width: 85dvw;
        padding: 3rem 2rem;
    }

    .inputSize {
        width: 46%;
        margin-right: 2%;
        margin-left: 2%;
    }

    .legend {
        font-weight: 500;
    }

    .radioDivSM {
        flex-wrap: wrap;
        justify-content: start;
    }

    .radioDivItem {
        width: 50%;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .inputSize {
        width: 46%;
        margin-right: 2%;
        margin-left: 2%;
    }
}